<div class="container mt-5 fw-bold text-white">
     <div class="row">
          <h4>Comparte con Tu pareja</h4>
          <div class=" col col-md-6">
               <img src="../../assets/img/suenos.jpg" alt="suenos" class="w-100 ">
          </div>
          <div class="col ol-md-6">
               <p>¡Comparte en pareja y celebra el amor
               
               Nosotros, seremos los anfitriones de su noche romántica en Medellín.
               
               Sea un aniversario, una noche de bodas u otra ocasión especial, el plan Sueños del Carlton representa una experiencia
               única, en un hotel 5 estrellas.</p>
          </div>
          <div class="col-12">
               <img src="../../assets/img/suenos.jpg" alt="suenos" class="w-100 ">
          </div>
          <div class="col-6 col-md-6">
               <p>¡Comparte en pareja y celebra el amor
          
                    Nosotros, seremos los anfitriones de su noche romántica en Medellín.
          
                    Sea un aniversario, una noche de bodas u otra ocasión especial, el plan Sueños del Carlton representa una
                    experiencia
                    única, en un hotel 5 estrellas.</p>
          </div>
     </div>
</div>